/*Color Schemes*/

//first scheme
$white: #FFF;
$old-silver: #828485;

//second scheme
$salmon: #EF6461;
$pale-blue:#92DCE5;



//Typography
$montserrat: 'Montserrat', sans-serif;
$open-sans: 'Open Sans', sans-serif;

//Font weight
$regular: 400;
$medium:500;
$bold: 700;

//Font sizes
$xxx-large: 48px;
$xx-large: 35px;
$x-large: 25px;
$large: 20px;
$small: 12px;
$x-small: 10px;







