.contenedor__nav {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0.75rem;

          
        &-logo svg {
            width: 200px;
        }

        &-list ul {
            display: flex;
            list-style: none;
            
            li {
                padding-left: 1.5rem;
            }
            
        }

}

/***Medias Query Nav***/

//Mobile xs devices
@media only screen and (max-width: 320px) {
    .contenedor__nav {
        height: 80px;
        padding: .5rem 1.75rem;
        
        &-logo svg {
            width: 150px;
        }

        &-list ul .list-1 {
            display: none;
        }

    }

    //Menu hamburguesa desplegable

    .contenedor__nav{
        
        &-list ul  {
            display: flex;
            flex-direction: column-reverse;
            position: fixed;
            right: 26px;
            top: 25px;
            background-color: $white;
        
            li {
            padding: 5px 5px;
           
           
           
            }     
        }
    }
}

//Mobile sm devices
@media only screen and (max-width: 576px){
    .contenedor__nav {

        &-logo svg {
            width: 150px;
        }

        &-list ul .list-1 {
            display: none;
        }

    }
}

//Mobile md devices
@media only screen and (max-width:768px ){
    .contenedor__nav-logo svg {
        width: 150px;
    }
}